body{
    font-family: Arial, Helvetica, sans-serif;
}
#div1{
    width: 100%;
    min-height: 50px;
    background-color: #faf1ec;  
   
   
}
#logoo{
    width: 15%;
    min-height: 50px;
    border-radius: 10px;
    float: left;
    
}
#nav{
    width: 33%;
    min-height: 50px;
   padding-left: 20px;
    float: left;
    border-radius: 10px;
    margin-left: 300px;
    
}
.home{
    width: 70px;
    min-height: 50px;
    border-radius: 10px;
    float: left;
     padding-left: 10px;
    line-height: 50px; 
    margin-left: 20px;
    /* align-content: center;
    justify-content: center; */
}
.home:nth-child(2){
    margin-left: 20px;
    margin-right: 15px;
}
.home:nth-child(3){
   
    margin-right: 10px;
}
#login{
    width: 5%;
    border-radius: 10px;
    min-height: 50px;
    padding-left: 100px;
    float: left;
    margin-left: 280px;
    line-height: 50px;
   
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.spotknack{
    width: 150px;
    height: 50px;
    padding-left: 15px;
    padding-top: 5px;
}
#div2{
    width: 100%;
    min-height: 350px;
    background-color:  #faf1ec;
  
}
.left{
    width: 30%;
    min-height: 200px;
    border-radius: 10px;
   
    float: left;
    margin-left: 380px;
    margin-top: 60px;
    
}
.right
{
    width: 25%;
    min-height: 350px;
    border-radius: 10px;
   
     float: left; 
}
.phone{
    width: 310px;
    height: 320px;
    padding-top: 60px;
    padding-left: 20px; 
}
#div3{
    width: 100%;
    min-height: 410px;
    background-color:  #faf1ec;

}
.two{
    width: 25%;
    min-height: 310px;
    background-color:  #faf1ec;
    float: left;
margin-left: 480px;

}
.three{
    width: 23%;
    min-height: 250px;
   
    float: left;
margin-left: 280px;

}
.five{
    padding-left: 20px;
    padding-top: 10px;
    line-height: 20px;
    width: 100%;
    min-height: 50px;
    background-color: white;
   
}
.ten{
    width: 65%;
    min-height: 250px;
    
}
.but{
    margin-left: 100px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.ooo{
    width: 250px;
    height: 300px;
}
.yyy{
width: 300px;
height: 280px;
}
#div4{
width: 95%;
min-height: 250px;
background-color: white;

margin: auto;
margin-bottom: 30px;
}
.high{
width: 20%;
min-height: 50px;
background-color: white;
line-height: 50px;
padding-left: 30px;


}
.imgeee{
width: 75%;
min-height: 240px;

margin-left: 200px;



}
.prr{margin-left: 30px;
width: 20%;

min-height: 200px;
background-color:  white;
float: left;
}
.prr:nth-child(2){
margin-left: 30px;
margin-right: 30px;
}
.prr:nth-child(1){
margin-left: 30px;

}
.prr:nth-child(3){

margin-right: 30px;
}
.laa{
margin-top: 20px;
margin-left: 20px;
width: 150px;
height: 200px;
}
.lll{
width: 750px;
min-height: 80px;
padding-left: 135px;
}
#wrapper{

background-color: #faf1ec;
} 
#div5{
width: 95%;
min-height: 300px;
background-color:  white;

margin: auto;
margin-bottom: 30px;
border-radius: 10px ;
}
.hindi{
   
    padding-left: 69px;
    padding-top: 40px;
width: 44%;
min-height: 270px;
background-color:  white;
float: left;
}
.christ{
  
width: 50%;
min-height: 240px;
padding-right: 10px;
margin-top: 50px;
margin-bottom: 40px;
float: right;

}
.gee{
 
width: 50%;
min-height: 240px;
background-color:  white;
float: left;
font-family: Arial, Helvetica, sans-serif;
}

.hee{
font-family: Arial, Helvetica, sans-serif;
width: 49%;

min-height: 240px;
background-color: white;
float: right;


}


    #div8{
        width: 100%;
        min-height: 240px;
        background-color:  #faf1ec ;
      
        margin-bottom: 40px;
     }
     .zoo{
       margin-left: 35px;
       padding-left: 30px;
       padding-top: 30px;
        background-color: white;
        width: 45%;
        min-height:  150px; 
         border-radius: 10px; 
        float: left;
      
     }
    
    .bio{
        padding-top: 30px;
        padding-left: 30px; 
      margin-right: 35px;
       background-color:white ;
       width: 45%;
       min-height:  150px; 
     
        float: right;
        border-radius: 10px;
        
    }
  
    #div10{
        width: 100%;
       
        min-height: 200px;
        background-color: white;

    }
    .eee{
        width: 42%;
        margin-top: 30px;
        min-height: 200px;
        background-color: white;
        
        float: left;
        margin-left: 60px;
        line-height: 25px;
    }
    .sss{
        width: 50%;
        margin-top: 30px;
        min-height: 150px;
        background-color: white;;
        float: right;
        margin-right: 60px;
        font-weight: lighter;
    }
    .rrr{
       
        width: 30%;
        min-height: 45px;
        background-color: white;

    }
    .hbb{
        width: 160px;
        min-height: 40px;
    }
    .mmm{
        
        padding-left: 30px;
        width: 26%;
        min-height: 200px;
        background-color: white;
        float: left;
        line-height: 30px;
    }
    .mmm:nth-child(2){
        margin-left: 35px;
        margin-right: 35px;
    }